@foreach (Dictionary<string, string> job in ViewBag.jobs)
{
    <table class="job-listing">
        @foreach (KeyValuePair<string, string> row in job)
        {
            <tr>
                <td><strong>@ViewBag.textInfo.ToTitleCase(row.Key)</strong></td>
                <td>
                    @{
                        if (!(row.Key.Equals("name")))
                        {
                            <a asp-controller="list" asp-action="Jobs" asp-route-column="@row.Key" asp-route-value="@row.Value">@row.Value</a>
                        }
                        else
                        {
                            @row.Value
                        }
                    }
                </td>

            </tr>
        }
    </table>
}
